NEXT_PUBLIC_DOCK_API_URL="https://api-testnet.dock.io"
DOCK_API_TOKEN= #keyhere


DOCK_API_DID= # the DID to use for the issuer. You can generate one here: https://certs.dock.io/dids
NEXT_PUBLIC_SERVER_URL= http://localhost:3000

# Proof-Request Template Ids
NEXT_PUBLIC_QUOTIENT_LOAN_PROOF_TEMPLATE_ID=""
NEXT_PUBLIC_FORSUR_PROOF_TEMPLATE_ID=""
NEXT_PUBLIC_URBANSCAPE_BANKBIO_TEMPLATE_ID=""
NEXT_PUBLIC_URBANSCAPE_CREDITSCORE_TEMPLATE_ID=""
NEXT_PUBLIC_BANK_IDENDITY_TEMPLATE_ID=""

# Organization Profiles
NEXT_PUBLIC_QUOTIENT_ISSUER_ID=""
NEXT_PUBLIC_FORSUR_ISSUER_ID=""
NEXT_PUBLIC_EQUINET_ISSUER_ID=""