@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Satoshi-Variable';
}

.text-base {
  font-size: 14px;
}

#reader img {
  margin: auto;
}

.title {
  font-size: 32px;
  font-weight: 500;
}

.orgCard {
  background-color: #F9F9F9;
  border-radius: 32px;
  min-height: 350px;
  height: 100%;
  padding: 20px;
  max-width: 245px;
  text-align: center;
  text-align: -webkit-center;
  position: relative;
  padding-bottom: 40px;
  margin: auto;
}

.index-2 {
  z-index: 2;
}

.cardsContainer {
  max-width: 1266px;
  margin: auto;
}

.mainContainer {
  max-width: 1480px;
  margin: auto;
}

.equinetContainer {
  max-width: 1038px;
}

.mainContainer input {
  border: solid 1px #D1D1D6 !important;
}

.mainContainer input::placeholder {
  color: #A0A0AB !important;
}

.activeItem {
  background-color: transparent;
  border: solid 1px white;
  border-radius: 50px;
}

.cardImg {
  min-height: 125px;
}

.Header {
  font-size: 22px;
  color: #00359E;
  font-weight: 500;
}

.visitBtn {
  width: 100%;
  border: solid 1px #84ADFF;
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: auto;
}

.launchBtn {
  width: 223px;
  color: white;
  background-color: #0063F7;
  border-radius: 50px;
  padding: 10px 0px 10px 0px;
  text-align: center;
  margin: auto;
  margin-top: 25px;
}

.uploadBtn {
  width: 100%;
  border: solid 1px#0E387A;
  background-color: #EFF5FF;
  font-size: 14px;
  font-weight: 600;
  color: #51525C;
}

.equinetBg {
  background-color: #265170;
}

.valign-middle {
  display: table !important;
}

.valign-middle div:first-child {
  display: table-cell;
  vertical-align: middle;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}